@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
        <li>
            <a href="@Url.Action("Index", "Users")">Users</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Flats")">Flats</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "FlatAssignments")">FlatAssignments</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "BankCards")">BankCards</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "InvoiceTypes")">InvoiceTypes</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Messages")">Messages</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Periods")">Periods</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Vehicles")">Vehicles</a>
        </li>
    </ul>

</div>
